* {
    padding: 0;
    margin: 0;
    color: lightcyan;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: rgb(83, 83, 83);
}

header {
    display: flex;
    justify-content: space-between;
    padding: 4% 1%;
    background-color: lightslategray;
}

h3 {
    display: inline-flex;
    flex-direction: row;
    padding: 30px;
    background-color: lightslategray;
}

a {
    text-decoration: none;
    background-color: lightslategray;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

h1 {
    margin: 15px;
    max-width: 50%;
    font-size: 2.75em;
}

p {
    max-width: 450px;
    margin: 15px;
    font-size: 1.5em;
}

button {
    margin: 10px;
    padding: 10px;
    background-color: blue;
}

section {
    background-color: antiquewhite;
    padding: 3%
}

ol {
    background-color: brown;
    padding: 10px 50px;
}

li {
    margin: 10px 0;
    font-size: 1.4em;
}